meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
meta(name='description' content='Личный блог Типотека')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
title Типотека
+statfont('/fonts/Inter-Regular.woff2')
+statfont('/fonts/Inter-Medium.woff2')
+statfont('/fonts/SFProDisplay-Regular.woff2')
+statcss('/css/style.min.css')