extends ./common/wrappers/nobackground

block main
  main.main-page.main-page--padding
    section.main-page__category.category
      h1.category__title Категории
      .category__add-form
        form(action='#' method='POST')
          input#add-form-add-category(type='text' name='add-category' placeholder='Новая категория')
          label(for='add-form-add-category')
            span.visually-hidden Добавить категорию
          button.category__button.button.button--category(type='submit') Добавить        
        +insertErrorMessage(validationMessages)
      ul.category__list        
        each category in categories
          li.category__list-item
            form(action=`/my/categories?categoryId=${category.id}` method='POST')
              input(id=`modify-form-category-${category.id}` type='text' name=`category` value=category.name)
              label(for=`modify-form-category-${category.id}`)
                span.visually-hidden Редактировать категорию
              button.category__button.button.button--category(type='submit' name="action" value="put") Сохранить
              button.category__button.button.button--category(type='submit' name="action" value="delete") Удалить

