meta(charset='utf-8')
meta(name='viewport', content='width=device-width,initial-scale=1')
meta(name='description', content='Личный блог Типотека')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
title Типотека
link(rel='preload', href='./fonts/Inter-Regular.woff2', as='font', crossorigin='anonymous')
link(rel='preload', href='./fonts/Inter-Medium.woff2', as='font', crossorigin='anonymous')
link(rel='preload', href='./fonts/SFProDisplay-Regular.woff2', as='font', crossorigin='anonymous')
link(rel='stylesheet', href='css/style.min.css')
.wrapper.wrapper--nobackground
  header.header
    a.header__logo.logo(href='#')
      img.logo__image(src='img/icons/logo-image-only.svg', alt='логотип Тайпотеки')
      span.logo__name Типотека
    button.button.button--colored.header__button-new Новая запись
    .header__dropdown
      a.button.button--burger.header__burger(href='#') Открыть меню
      ul.navigation.header__navigation
        li.navigation__item
          a(href='main.html') Пункт меню
        li.navigation__item
          a(href='main.html') Пункт меню
        li.navigation__item
          a(href='main.html') Пункт меню
        li.navigation__item
          a(href='main.html') Пункт меню
    a.header__search.button.button--search(href='#', aria-label='поиск по сайту')
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        li.notes__list-item
          time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a.notes__item-text(href='#') Huawei открыла в России предзаказ на смартфон Mate 30 Pro без сервисов Google
          button.notes__button.button.button--close-item(type='button')
            span.visually-hidden Закрыть строку списка
        li.notes__list-item
          time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a.notes__item-text(href='#') Facebook разрешит пользователям копировать фотографии из соцсети в «Google Фото»
          button.notes__button.button.button--close-item(type='button')
            span.visually-hidden Закрыть строку списка
        li.notes__list-item
          time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a.notes__item-text(href='#') Huawei открыла в России предзаказ на смартфон Mate 30 Pro без сервисов Google
          button.notes__button.button.button--close-item(type='button')
            span.visually-hidden Закрыть строку списка
        li.notes__list-item
          time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a.notes__item-text(href='#') Facebook разрешит пользователям копировать фотографии из соцсети в «Google Фото»
          button.notes__button.button.button--close-item(type='button')
            span.visually-hidden Закрыть строку списка
        li.notes__list-item.notes__list-item--last
          time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a.notes__item-text(href='#') Facebook разрешит пользователям копировать фотографии из соцсети в «Google Фото»
          button.notes__button.button.button--close-item(type='button')
            span.visually-hidden Закрыть строку списка
  footer.footer
    a.footer__copyright(href='#', aria-label='HTMLAcademy')
      img(src='img/icons/HTMLAcademyLogo.svg', width='112', height='50', alt='HTMLAcademy')
    span.footer__dot
    p.footer__text Типотека, 2019
script(src='js/vendor.js')
script(src='js/main.js')