extends ./common/wrappers/nobackground

block main
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article, articleIndex in articles
          li.notes__list-item
            time.notes__item-time(datetime=`${article.createdDate}`) #{prettyDate(article.createdDate)}
            a.notes__item-text(href='#') #{article.title}
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка