extends ./common/wrappers/color

block main
  main
    section.search-page
      .search-page__wrapper
        h1 Поиск
        .search.search-page__form
          form(action='/search' method='get')
            label
              input(type='text' name='query' placeholder='Что ищем?')
            button.search__button.button.button--transparent(type='submit') Найти